#container{
    margin: auto;
    background-image: linear-gradient(to bottom right, cyan, blue);
    width: 1000px;
    height: 1000px;
}

h1{
    color: darkblue;
    font-size: 100px;
    text-align: center;
    text-decoration: underline;
    font-family: "Germania One", cursive;
}

#links{
    float: left;
    width: 200px;
    height: 700px;
}

#intro{
    width: 800px;
    height: 700px;
    color: darkblue;
    font-size: 60px;
    text-align: center;
    font-family: "Germania One", cursive;
    margin: 0px;
    padding: 0px;
    float: right;
}

#footer{
    float: none;
    text-align: right;
    font-size: 20px;
}

input{
    width: 200px;
    height: 40px;
}

#enterbutton{
    text-align: center
}

ul{
    color: darkblue;
    list-style-type: square;
    font-family: "Germania One", cursive;
    font-size: 40px;
    padding-top: 30px;
    float: left;
}

li.home:hover, li.about:hover, li.contact:hover{
    color: aliceblue;
}

a{
    color : darkblue;
}
